In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('../artifacts/comment_dataset.csv',keep_default_na=False)

In [6]:
print(data['label'].unique())

['BaseballBat' 'HitAndRun' 'LipKissing' 'BombExplotionInPublic'
 'KillCowWithKnife' 'None']

In [7]:
data.shape

(17548, 3)

In [8]:
data.head()

   id                                            comment        label
0   1  මෑන් අයිඩීක් ඔබේ පරිගණක පිරිවිතර මොනවාද, නමුත්...  BaseballBat
1   2                      සහෝදරයා ඔබට වෙව්ට කළේ කුමක්ද?  BaseballBat
2   3                                   දුප්පත් විල්ලෙයි  BaseballBat
3   4                     බ්රෝ කුරිරු යක්ෂයා බවට පත් විය  BaseballBat
4   5                                             අපොයි.  BaseballBat

In [9]:
data.tail(20)

          id                                            comment label
17528  17529                                  mahinda රජරාජපක්ෂ  None
17529  17530                  ස්‍රෙස්ට හදවතෙ විරොදාර සිංහනායකයා  None
17530  17531                                                     None
17531  17532                                      ගෞරවය දැක්වීම  None
17532  17533                                                     None
17533  17534                                             ජෙසෙයි  None
17534  17535       මාගර් නයකෝයාතනන්ද හෝරා කියියා නදී අගගරු කරන්  None
17535  17536                                                     None
17536  17537  ඇඩටාටාටා මෙනා පුල්ඩු පුපුරාන් ඩා කලන්නි තනාකික...  None
17537  17538       පාට පක්ශ මොකක්උනත්  මේගෞරවය නම් ලැබියයුතුමයී  None
17538  17539                                       නියම සිංහලයා  None
17539  17540  මම තාලි වානරයා රාජු\nසහ ඉනා පෙන්ඩා වෑෂිත\nකරු ...  None
17540  17541  Thuwaku ussanna bhevar draar draar enala nehe ...  None
17541  17542                                           පචාලා නා  None
17542  17543  නියාමා කොන්ඩැක් තියානාක් තියානාක් තියානා රාජ් ...  None
17543  17544                              අනේ හැරිම ලස්සන දවසක්  None
17544  17545                                    ඔයා හරිම හොදයි.  None
17545  17546                                ඒ ළමයා දක්ෂ ළමයෙක්.  None
17546  17547                                  මෙතන මාර ලස්සනයි.  None
17547  17548                                ඔයා හොඳට ඉගෙන ගන්න.  None

## Data Preporcessing

In [10]:
import re #text pattern matching
import string

In [11]:
data.shape

(17548, 3)

In [12]:
data.duplicated().sum()

np.int64(0)

In [13]:
data.shape

(17548, 3)

In [14]:
data.isnull().sum()

id         0
comment    0
label      0
dtype: int64

#### Remove English Characters in comment

In [15]:
def remove_english(text):
    return re.sub(r'[a-zA-Z]', '', str(text)) # Remove englsih characters
data['comment'] = data['comment'].apply(remove_english)

#### Remove duplicates based on comment

In [16]:
data.drop_duplicates(subset=['comment'], inplace=True)

In [17]:
data.duplicated().sum()

np.int64(0)

In [18]:
data.isnull().sum()

id         0
comment    0
label      0
dtype: int64

#### Remove links

In [19]:
data["comment"] = data['comment'].apply(lambda x: " ".join(re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE) for x in x.split()))

#### Remove Punctuation

In [20]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

data["comment"] = data["comment"].apply(remove_punctuations)

In [22]:
data.head()

   id                                            comment        label
0   1  මෑන් අයිඩීක් ඔබේ පරිගණක පිරිවිතර මොනවාද නමුත් ...  BaseballBat
1   2                       සහෝදරයා ඔබට වෙව්ට කළේ කුමක්ද  BaseballBat
2   3                                   දුප්පත් විල්ලෙයි  BaseballBat
3   4                     බ්රෝ කුරිරු යක්ෂයා බවට පත් විය  BaseballBat
4   5                                              අපොයි  BaseballBat

#### Remove Numbers

In [23]:
data["comment"] = data['comment'].str.replace('\d+', '', regex=True)

In [ ]:
data.tail(60)

          id                                            comment label
17469  17470  මහින්ද හොරකම් නොකලානම් සුපිරි මිනිහෙක් දරුවන්ට...  None
17470  17471                          අනේ මෙතුමා වයසට නොගියානම්  None
17471  17472                               දූෂිත කුණු කැබැල්ලක්  None
17473  17474                       මට අයිටයි නායක නායක කියානාන්  None
17474  17475                අපේ සැබෑ සිංහයා අපි අපේ රජුට ආදරෙයි  None
17475  17476                                   ආශ්චර්යමත් නළුවා  None
17476  17477                                               එය අ  None
17477  17478                                       සංචාරක ආනවා   None
17478  17479  අපි නෑ කිව්වොත් ඒක නෑ තමයි අපි කරනවා කිව්වොත් ...  None
17480  17481                                    නූතන දුටුගුමුනු  None
17481  17482   මාලිමාවට කෝටියක් ඡන්ද හොරු ආයෙ බලයට ගේන්නෙ නෑමයි  None
17482  17483  මගෙ පණටත් වඩා මම මාලිමාවට ආදරෙයි අපේ මාලිමා ආණ...  None
17483  17484  ලොව දරුණුම ත්‍රස්තවාදය තුරන් කල නිර්භීත ගරු මහ...  None
17484  17485   හොර හැත්ත ලං කර ගත්තෙ නැත්තම් දේශපාලන සොරා කෑ...  None
17485  17486                           අායුබෝ වේවා මහ රජාණනි  None
17486  17487  මේ තමා ලංකාවේ දුටු ගැමුණු රජ තුමාගෙන් පසු බි...  None
17487  17488  මේ නායකත්වය ගැන තාමත් හිතේ ගෞරවයක් තියෙනවා හැබ...  None
17488  17489                                               හොරා  None
17489  17490                                            ගිලෙන්න  None
17490  17491  පුරාවෙයි කරමන වරැලකි ශ්රීලන්කා මතුන් කන්කලායි ...  None
17491  17492            රටේ වාසනාවට පහලවූ උතුමානන්තෙරුවන් සරණයි  None
17494  17495  අම්මො උතුම් සිංහල ය අවුරුදු  කලින් තිබ්බ යුද්ධ...  None
17495  17496                                       බලපන් ජෙප්පො  None
17498  17499   අවසානෙට ඇස් වලට දැකපු එඩිතර සේනාධි නායකයා අපේ...  None
17500  17501                                       කොහොමඩා ගැමා  None
17501  17502                                          මගේ වීරයා  None
17502  17503  ඔබතුමා සිංහල අපව නියොජනය කලාඅනුර කුමාරට නැත්තෙ...  None
17506  17507  යුද්දෙ දිනන්න කලින් ඉඳපු මහින්ද රාජපක්ශ කියන න...  None
17508  17509      මීවලජ් කොන්ඩැක් තියානා වෙන්ක් හිටියාඩා ජෙප්නි  None
17509  17510                                    අප්පච්චි ආදරෙයි  None
17510  17511  මෙතුමා හොදයි තනියෙන් දේවල් කරපු කළේ දැන් මෙතුම...  None
17514  17515                           ලෝකයේ පජාති ජාතිය සින්හල  None
17516  17517                                 මම ඔබට ආදරෙයි       None
17517  17518           වොට් දේශපාලනයේ දී වලින් අයින් රුවන් ඩුසි  None
17518  17519                   කල්ලි බංග් යානා ඩබ්ලිව් පියාසැරි  None
17519  17520                      ඒබීව් පොලිස් විකාශය වන නෙවායි  None
17520  17521                                                     None
17522  17523     මෙන්න සිංහයා පච කෙලලා අපිට නැති කළ නියම නායකයා  None
17523  17524            එදා මෙයා මෙක නොකල නං අපි අදවෙනකොට ඉවරයි  None
17524  17525  මම ගෞරවය ප්රකාශ කරන්නේ මෙම ශක්තිමත් පිටුපස අස්...  None
17525  17526                             ṃḷọ ā පළමු දිනයට යටින්  None
17526  17527  යුද්ධෙන් පස්සේ සිද්ධි කොහොම වුණත් ඒ එඩිතර කොන්...  None
17527  17528                           සාර්ථක පැල්ල්වොලොන් නාසය  None
17528  17529                                          රජරාජපක්ෂ  None
17529  17530                  ස්‍රෙස්ට හදවතෙ විරොදාර සිංහනායකයා  None
17531  17532                                      ගෞරවය දැක්වීම  None
17533  17534                                             ජෙසෙයි  None
17534  17535       මාගර් නයකෝයාතනන්ද හෝරා කියියා නදී අගගරු කරන්  None
17536  17537  ඇඩටාටාටා මෙනා පුල්ඩු පුපුරාන් ඩා කලන්නි තනාකික...  None
17537  17538        පාට පක්ශ මොකක්උනත් මේගෞරවය නම් ලැබියයුතුමයී  None
17538  17539                                       නියම සිංහලයා  None
17539  17540  මම තාලි වානරයා රාජු සහ ඉනා පෙන්ඩා වෑෂිත කරු රග...  None
17540  17541                             වෙත හමානුවෙන් ලබා දෙයි  None
17541  17542                                           පචාලා නා  None
17542  17543  නියාමා කොන්ඩැක් තියානාක් තියානාක් තියානා රාජ් ...  None
17543  17544                              අනේ හැරිම ලස්සන දවසක්  None
17544  17545                                     ඔයා හරිම හොදයි  None
17545  17546                                 ඒ ළමයා දක්ෂ ළමයෙක්  None
17546  17547                                   මෙතන මාර ලස්සනයි  None
17547  17548                                 ඔයා හොඳට ඉගෙන ගන්න  None

#### Remove non sinhala words

In [ ]:
def remove_non_sinhala(text):
    return re.sub(r'[^\u0D80-\u0DFF\s]', '', str(text)) #Keep only Unicode range for Sinhala

data['comment'] = data['comment'].apply(remove_non_sinhala)

In [ ]:
data.tail(20)

          id                                            comment label
17525  17526                                   පළමු දිනයට යටින්  None
17526  17527  යුද්ධෙන් පස්සේ සිද්ධි කොහොම වුණත් ඒ එඩිතර කොන්...  None
17527  17528                           සාර්ථක පැල්ල්වොලොන් නාසය  None
17528  17529                                          රජරාජපක්ෂ  None
17529  17530                   ස්රෙස්ට හදවතෙ විරොදාර සිංහනායකයා  None
17531  17532                                      ගෞරවය දැක්වීම  None
17533  17534                                             ජෙසෙයි  None
17534  17535       මාගර් නයකෝයාතනන්ද හෝරා කියියා නදී අගගරු කරන්  None
17536  17537  ඇඩටාටාටා මෙනා පුල්ඩු පුපුරාන් ඩා කලන්නි තනාකික...  None
17537  17538        පාට පක්ශ මොකක්උනත් මේගෞරවය නම් ලැබියයුතුමයී  None
17538  17539                                       නියම සිංහලයා  None
17539  17540  මම තාලි වානරයා රාජු සහ ඉනා පෙන්ඩා වෑෂිත කරු රග...  None
17540  17541                             වෙත හමානුවෙන් ලබා දෙයි  None
17541  17542                                           පචාලා නා  None
17542  17543  නියාමා කොන්ඩැක් තියානාක් තියානාක් තියානා රාජ් ...  None
17543  17544                              අනේ හැරිම ලස්සන දවසක්  None
17544  17545                                     ඔයා හරිම හොදයි  None
17545  17546                                 ඒ ළමයා දක්ෂ ළමයෙක්  None
17546  17547                                   මෙතන මාර ලස්සනයි  None
17547  17548                                 ඔයා හොඳට ඉගෙන ගන්න  None

#### Remove Stop Words

In [27]:
sinhala_stopwords = set("""
සහ සමග සමඟ අහා ආහ් ආ ඕහෝ අනේ අඳෝ අපොයි අපෝ අයියෝ ආයි ඌයි චී චිහ් චික් හෝ‍ දෝ දෝහෝ මෙන්
සේ වැනි බඳු වන් අයුරු අයුරින් ලෙස වැඩි ශ්‍රී හා ය නිසා නිසාවෙන් බවට බව බවෙන් නම් වැඩි සිටදී මහා මහ
පමණ පමණින් පමන වන විට විටින් මේ මෙලෙස මෙයින් ඇති ලෙස සිදු වශයෙන් යන සඳහා මගින් හෝ‍ ඉතා ඒ එම ද
අතර විසින් සමග පිළිබඳව පිළිබඳ තුළ බව වැනි මහ මෙම මෙහි මේ වෙත වෙතින් වෙතට වෙනුවෙන් වෙනුවට
වෙන ගැන නෑ අනුව නව පිළිබඳ විශේෂ දැනට එහෙන් මෙහෙන් එහේ මෙහේ ම තවත් තව දක්වා ට ගේ එ ක ක්
බවත් බවද මත ඇතුලු ඇතුළු මෙසේ වැඩි වඩා වඩාත්ම නිති නිතිත් නිතොර නිතර ඉක්බිති දැන් යලි පුන ඉතින් සිට
සිටන් පටන් තෙක් දක්වා සා තාක් තුවක් පවා ද හෝ‍ වත් විනා හැර මිස මුත් කිම කිම් ඇයි මන්ද හෙවත් නොහොත්
පතා පාසා ගානෙ තව ඉතා බොහෝ වහා සෙද සැනින් හනික එම්බා එම්බල බොල නම් වනාහි කලී ඉඳුරා අන්න ඔන්න
මෙන්න උදෙසා පිණිස සඳහා අරබයා නිසා එනිසා එබැවින් බැවින් හෙයින් සේක් සේක ගැන අනුව පරිදි විට තෙක්
මෙතෙක් මේතාක් තුරු තුරා තුරාවට තුලින් නමුත් එනමුත් වස් මෙන් ලෙස පරිදි එහෙත්
""".split())

def remove_sinhala_stopwords(text):
    words = str(text).split()
    filtered_words = [word for word in words if word not in sinhala_stopwords]
    return " ".join(filtered_words)


data['comment'] = data['comment'].apply(remove_sinhala_stopwords)

In [28]:
data.head()

   id                                            comment        label
0   1  මෑන් අයිඩීක් ඔබේ පරිගණක පිරිවිතර මොනවාද ඔබ නැව...  BaseballBat
1   2                       සහෝදරයා ඔබට වෙව්ට කළේ කුමක්ද  BaseballBat
2   3                                   දුප්පත් විල්ලෙයි  BaseballBat
3   4                         බ්රෝ කුරිරු යක්ෂයා පත් විය  BaseballBat
4   5                                                     BaseballBat

#### Drop rows with null values

In [29]:
data.dropna(subset=['comment'], inplace=True)

In [30]:
data.shape

(14296, 3)

#### Remove empty strings in comment

In [31]:
data = data[data['comment'].str.strip() != '']

In [32]:
data.shape

(14023, 3)

#### Reset Index

In [33]:
data.reset_index(drop=True, inplace=True)
data['id'] = data.index + 1

In [34]:
data.tail(10)

          id                                            comment label
14013  14014                                       නියම සිංහලයා  None
14014  14015  මම තාලි වානරයා රාජු ඉනා පෙන්ඩා වෑෂිත කරු රගන් ...  None
14015  14016                                 හමානුවෙන් ලබා දෙයි  None
14016  14017                                           පචාලා නා  None
14017  14018  නියාමා කොන්ඩැක් තියානාක් තියානාක් තියානා රාජ් ...  None
14018  14019                                  හැරිම ලස්සන දවසක්  None
14019  14020                                     ඔයා හරිම හොදයි  None
14020  14021                                   ළමයා දක්ෂ ළමයෙක්  None
14021  14022                                   මෙතන මාර ලස්සනයි  None
14022  14023                                 ඔයා හොඳට ඉගෙන ගන්න  None

#### Label Encoder

In [35]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\campus\semester8\research model creation\youtube_comments_analyse\env\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in d:\campus\semester8\research model creation\youtube_comments_analyse\env\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.6.0 in d:\campus\semester8\research model creation\youtube_comments_analyse\env\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in d:\campus\semester8\research model creation\youtube_comments_analyse\env\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\campus\semester8\research model creation\youtube_comments_analyse\env\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
from sklearn.preprocessing import LabelEncoder #Convert categorical text labels into numerical values

label_encoder = LabelEncoder()
data['label_encoded'] = label_encoder.fit_transform(data['label'])

In [37]:
print("Unique labels:", data['label'].unique())

Unique labels: ['BaseballBat' 'HitAndRun' 'LipKissing' 'BombExplotionInPublic'
 'KillCowWithKnife' 'None']

In [38]:
print("Label counts:\n", data['label'].value_counts())

Label counts:
 label
None                     2700
BaseballBat              2511
HitAndRun                2395
KillCowWithKnife         2244
BombExplotionInPublic    2186
LipKissing               1987
Name: count, dtype: int64

In [75]:
# Show all unique encoded labels
print("Unique encoded labels:", data['label_encoded'].unique())

# Show mapping from number → original label
label_mapping = dict(zip(label_encoder.transform(label_encoder.classes_), label_encoder.classes_))
print("Label Mapping:", label_mapping)

Unique encoded labels: [0 2 4 1 3 5]
Label Mapping: {np.int64(0): 'BaseballBat', np.int64(1): 'BombExplotionInPublic', np.int64(2): 'HitAndRun', np.int64(3): 'KillCowWithKnife', np.int64(4): 'LipKissing', np.int64(5): 'None'}

In [76]:
data.head()

,id,comment,label,label_encoded
0,1,මෑන් අයිඩීක් ඔබේ පරිගණක පිරිවිතර මොනවාද ඔබ නැව...,BaseballBat,0
1,2,සහෝදරයා ඔබට වෙව්ට කළේ කුමක්ද,BaseballBat,0
2,3,දුප්පත් විල්ලෙයි,BaseballBat,0
3,4,බ්රෝ කුරිරු යක්ෂයා පත් විය,BaseballBat,0
4,5,සහෝදරයා තම මිතුරා අපයෝජනය කරයි,BaseballBat,0

#### Save Preprocess Data

In [77]:
data.to_csv("../artifacts/preprocessed_comment_dataset.csv", index=False, encoding='utf-8-sig')